/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: 600; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { list-style-type: none; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
th { font-weight: 600; }
strong { font-weight: 600; color: #222; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #999; color:#fff; text-shadow: none; }
::selection { background:#999; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #999; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #6a6a6a;
  /* Set your base font here, to apply evenly */
  font-family: 'Open Sans', sans-serif;
}



/**
 * Primary styles
 *
 * Author: Mo Lawson
 */

body { background: #f4f4f4; }

a,
a:active,
a:visited {
  color: #222;
  font-weight: 600;
  text-decoration: none;
}

a:hover { color: #1ea4bd; }

.wrapper {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

h2, h3, h4, h5,
h2 a, h3 a, h4 a, h5 a {
  font-weight: 600;
  color: #444;

}

.alignleft { float: left; }
.alignright { float: right; }

#header {
  height: 100px;
  position: relative;
}

  #header h1 {
    width: 417px;
    margin: 48px auto 0;
  }

  #header h1 a {
    font-family: 'CodeLight', sans-serif;
    font-size: 74px;
    font-weight: normal;
    color: #1ea4bd;
  }

#content {
  position: relative;
  background: #fff;
  padding: 36px 42px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25)
}


/*-- HOME PAGE --*/

#main {
  float: left;
  width: 520px;
}

  #top { overflow: hidden; margin-bottom: 40px; }

    #top #pic, #top #blurb { float: left; }

    #top #blurb {
      width: 392px;
      margin-left: 20px;
    }

  #bottom {
    clear: both;
    overflow: hidden;
  }

    h3 {
      font-size: 22px;
      margin-bottom: 18px;
    }

    #bottom #services, #bottom #networks { 
      float: left; 
      width: 245px;
    }

    #bottom #services { margin-right: 30px; }

    #services ul li { margin-bottom: 8px; }

    #networks ul li {
      margin-bottom: 14px;
      overflow: hidden;
      line-height: 11px;
    }

    #networks ul li a {
      color: #6a6a6a;
      font-weight: normal;
    }

    #networks ul li a:hover { color: #222; }

    #networks ul li a span.social_icon {
      background: image-url('social_sprite.png') no-repeat;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      display: inline-block;
      margin-right: 10px;
      float: left;
    }

    #networks ul li a span.social_icon.behance { background-position: 0px 0px; }
    #networks ul li a span.social_icon.github { background-position: 0px -32px; }
    #networks ul li a span.social_icon.twitter { background-position: 0px -64px; }
    #networks ul li a span.social_icon.email { background-position: 0px -96px; }

    #networks ul li a:hover span.social_icon.behance { background-position: -32px 0px; }
    #networks ul li a:hover span.social_icon.github { background-position: -32px -32px; }
    #networks ul li a:hover span.social_icon.twitter { background-position: -32px -64px; }
    #networks ul li a:hover span.social_icon.email { background-position: -32px -96px; }

    #networks ul li a span.link { font-size: 11px; }

    #networks ul li a span.service {
      text-transform: uppercase;
      line-height: 18px;
    }


#sidebar {
  float: right;
  width: 260px;
}

  #sidebar ul#recent { margin-bottom: 36px; }

    ul#recent li { margin-bottom: 18px;}

    ul#recent li a { 
      color: #6a6a6a; 
      font-weight: normal; 
    }

    ul#recent li a:hover { color: #222; }
    
  #sidebar p.more { text-align: right; }

  #sidebar a { color: #1ea4bd; }
  #sidebar a:hover { color: #222; }
  
  #sidebar .nav_links { 
    padding-top: 14px;
    border-top: 20px solid #f4f4f4;
  }


/*-- BLOG --*/

#content h2 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 24px;
}

#content h3 a:hover,
#content h3 a:active { 
  color: #1ea4bd;
  font-weight: normal;
}

#content p {
  line-height: 20px;
  margin-bottom: 12px;
}

#content article { margin-bottom: 64px; } 

  #content article header { margin-bottom: 18px; }
  
    #content article header h3,
    #content article header h2 { margin-bottom: 0; }

    #content article header p.meta {
      color: #999;
      font-style: italic;
      margin-bottom: 0;
    }
    
    #content article header h2+p.meta { font-size: 12px; }

    #content article header h3+p.meta {
      font-size: 11px;
      line-height: 18px;
    }
    

/*-- ADMIN --*/

a.new-button { 
  display: block;
  margin: 3px 0 32px 0;
  float: right;
}

table { width: 100%; }

table td { 
  padding: 0 16px 8px 0;
  text-align: left;
}

table th { 
  padding: 0 16px 12px 0;
  text-align: left;
}

table th.actions,
table td.actions {
  text-align: center;
  width: 100px;
  padding-right: 0;
}


/*-- FORMS --*/

form .field { margin-bottom: 12px; }

form .actions { margin: 24px 0; }

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

input[type="text"],
input[type="password"],
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  padding: 6px 8px;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus { 
  border: 1px solid #c3c3c3;
  outline: none;
}

.new_post input[type="text"],
.edit_post input[type="text"] { width: 680px; }

#client_login input[type="text"],
#client_login input[type="password"] { width: 220px; }

textarea {
  width: 680px;
  height: 320px;
}

input[type="submit"],
button,
a.button {
  border: none;
  background: #1ea4bd;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 12px;
  border-radius: 4px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:focus,
button:hover,
a.button:hover { 
  cursor: pointer;
  background: #222;
  outline: none;
}

input[type="checkbox"] { margin: 3px; }

#footer {
  clear: both;
  margin: 24px 0 48px;
  text-align: center;
  font-size: 12px;
  color: #807f80;
}


/*-- FLASHES AND ERRORS --*/

#flash_notice, #flash_error, #flash_alert {
  font-size: 13px;
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

#error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

#error_messages h2 {
  text-align: left;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#error_messages p {
  margin: 8px 10px;
  font-weight: 600;
}

#error_messages ul {
  margin: 0 10px;
  list-style: disc inside;
}

#error_messages ul li {
  margin-bottom: 4px;
}


/*--- FONT FACE ---*/

@font-face {
    font-family: 'CodeLight';
    src: asset-url('CodeLight-webfont.eot');
    src: asset-url('CodeLight-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('CodeLight-webfont.woff') format('woff'),
         asset-url('CodeLight-webfont.ttf') format('truetype'),
         asset-url('CodeLight-webfont.svg#CodeLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
