<div id="sidebar">

  <div class="nav_links">
    <% if params[:action] == "show" %>
    <p><%= link_to "See all posts", blog_url %></p>
    <% end %>
    <p><%= link_to "Go to Mo's home page", root_url %></p>
  </div><!-- end nav_links -->
  
</div>