<div id="main">
  <% @posts.each do |post| %>
  <article>
    <header>
      <h3><%= link_to post.title, blog_post_path(post.slug) %></h3>
      <p class="meta"><%= "Posted on " + post.created_at.strftime("%B %e, %Y") %></p>
    </header>
    <%= textilize(post.content) %>
  </article>
  <% end %>
</div><!-- end main -->

<%= render "blog_sidebar" %>